.A1 {
    background-color: blue;
    height: 1rem;
}

.A2 {
    background-color: brown;
    height: 1rem;
}

.A3 {
    background-color: red;
    height: 1rem;
}

.B1 {
    background-color: red;
}

.C1 {
    background-color: brown;
}

.C2 {
    background-color: blue;
}