/* CSS for Blaek Stickland Portfolio */

body {
  background-color: rgb(207, 207, 207);
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://img.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg?size=626&ext=jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.top-navigation {
  border-bottom: 1px solid rgb(146, 142, 142);
}

#navBrand {
  padding: 16px;
  position: static;
  float: left;
}

.bgGreen {
  background-color:  #59aaa5;
}

.textGreen {
  color:  #59aaa5;  
}

.portfolioLink {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  border-top: 1rem solid #59aaa5 ;
  background-color: #666666;
  color: #ffffff;
}

.footer span {
  color: #ffffff;
}

nav {
  background-color: #59aaa5 ;
}

ul li {
  color: #c7c7c7;
}

ul a {
  color: #c7c7c7;
}

.verticalLine { 
  border-left: 2px solid #6b6969; 
}

.bottomBorder {
  border-bottom: 2px solid rgb(146, 142, 142);
}


/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }


/*
  These rules take effect when the browser's width
  is either 640px or less.
*/

@media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }